<footer>
    <div>
        ©   Mohammed Naseeruddin. All Rights Reserved 
    </div>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/users/profile">Profile</a>
        </li>
    </ul>
</footer>