<link rel="stylesheet" href="/css/user_profile.css"> 
        <h1>
            Code'n Chat Profile
        </h1>

        <p>Name:<%= user.name %> </p>
        <p>Email:<%= user.email %> </p>

        <form action="/users/log-out" method="post">
            <button type="submit">Log Out</button>
        </form>