<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <header>
            Page header
        </header>
        <h1>Code'n Chat Profile</h1>

        <footer>
            Page footer
        </footer>
    </body>
</html>